.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

#body {
    background-image: url(https://images.pexels.com/photos/66134/pexels-photo-66134.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 70px; */
}

.darken-cover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
}
